* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.frontEndDiv {
  padding: 0px;
  margin: 0px;
}

.titleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.mainDiv {
  display: flex;
}

.sideDiv {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 80px;
  color: black;
}

.sideDiv img {
  height: 100px;
  padding-top: 0px;
}

.waldoFaceDiv,
.odlawFaceDiv,
.wizardFaceDiv {
  background-color: white;
  margin-bottom: 30px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  padding-top: 0px;
}

.wizardFaceDiv {
  margin-bottom: 0px;
}

.waldoWelcomeImg {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin-right: 10px;
}

.title {
  font-size: 1.8rem;
}

h2 span:first-child {
  color: rgb(42, 10, 221);
}

.timerDiv {
  color: #45e808;
  border: black 2px solid;
  position: absolute;
  top: 7px;
  right: 250px;
  display: flex;
  font-family: "digital-7regular", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  background: url("../static/Green\ digital\ scanner\ or\ energy\ waves\ Abstract\ animation.png");
  border-radius: 5px;
  width: 150px;
  justify-content: center;
}

.minuteDiv {
  padding-right: 5px;
}

.secondDiv {
  padding-left: 5px;
}

.imgDiv {
  position: relative;
  display: block;
  max-width: 80%;
  max-height: 100%;
  margin: auto;
}

.wallpaperImage {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
  border: solid black 1px;
  margin-bottom: 50px;
}

.startBtn {
  display: block;
  font-size: 2rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
}

.dropdownDiv {
  position: absolute;
  z-index: 2;
  background: whitesmoke;
  padding: 0px;
  margin: 0px;
  border: solid 1px #113da1;
}

.dropdownDiv > ul {
  border-radius: 2%;
  text-align: center;
  margin: 0px;
  width: 120px;
  padding: 0px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.dropdownDiv > ul > li {
  list-style-type: none;
  border-bottom: solid 1px #a7bbc7;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 7px;
  margin: auto;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdownDiv > ul > li:last-child {
  border-bottom: none;
}

.dropdownDiv > ul > li:hover {
  font-size: 1.5rem;
  color: #e28f83;
}

.hidden {
  display: none;
}

.waldoFaceDiv, .odlawFaceDiv, .wizardFaceDiv {
  position: relative;
}

.tickWaldo, .tickOdlaw, .tickWizard {
  position: absolute;
  background-color: rgba(168, 168, 168, 0.5);
  border: green solid 4px;
  width: 100%;
  height: 100%;
}

.tickWaldo img, .tickOdlaw img, .tickWizard img {
  position: absolute;
  height: 50%;
  bottom: 15px;
  left: 7px;
}

#indicatorDiv {
  position: absolute;
  left: 40%;
  top: 15px;
  font-size: 2rem;
  background-color: white;
  color: red;
  border: rebeccapurple solid 2px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: -4px 1px 20px 6px rgba(233,21,21,0.75);
  -webkit-box-shadow: -4px 1px 20px 6px rgba(233,21,21,0.75);
  -moz-box-shadow: -4px 1px 20px 6px rgba(233,21,21,0.75);;
}

.leaderBoardDiv {
  position: relative;
  padding: 5px;
}

#enterNameDiv {
  background-color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 70%;
  margin: auto;
}

#enterNameDiv button {
  margin-left: 40px;
}

.final {
  width: 100%;
  height: 75vh;
  background-color: white;
}

#finalDiv {
  height: 70vh;
  margin-top: 20px;
  overflow: scroll;
}

#finalDiv ol {
  position: relative;
  scroll-behavior: auto;
  margin-left: 200px;
  display: flex;
  color: black;
  padding-left: 0px;
  flex-direction: column;
  
}

#finalDiv li {
  position: relative;
  font-size: 2rem;
} 

#finalDiv li span {
  position: absolute;
  right: 200px;
}

#finalDiv ol hr {
  display: block;
  left: 0px;
  width: 70%;
  height: 5px;
  color: green;
}